* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #363a45;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  width: 230px;
}
nav ul {
  margin: auto;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0px;
  list-style: none;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px 0px;
}

.nav-active {
  color: grey;
  transition: all 0.3s ease-out;
}
